---

import { object } from 'astro:schema';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const {default : meData} = await import('../assets/me.json');
---

<Layout>
	<section>
		<h1 class="nombre">{meData.nombre}</h1>
		<p class="profesion">
			{meData.profesion}
		</p>
		<p class="bio">
			{meData.Bio}
		</p>
	</section>
	
	<section class="experiencia">
		<h2>Experiencia</h2>
	
		{meData.experiencia.map(exp => (
			<article class="experienciaArticle">
				<strong>Puesto:</strong>{exp.puesto} <br />
				<strong>Lugar: </strong>{exp.lugar} <br />
				<strong>Meses: </strong>{exp.meses}
			</article>
		))}
	</section>
		<section>
			<h2>Habilidades</h2>
			<div class="habilidadesDiv">
				{ 
					meData.Habilidades.map((habilidad) => (
						<article class="habilidad">
							<p>{habilidad}</p>
						</article>
					))
				}
			</div>
		</section>
	
</Layout>
